<!--Dropdown buttons start-->
<style>
    .btnDropdown {
        margin: 20px 0px;
    }

    .dropdown .btn-secondary {
        padding: 0px 7px;
    }
    /*   #excelIcon {
        display:none;
    }*/
    /* #pdflIcon {
        display: none;
    }*/
</style>
<div class="dropdown show btnDropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="https://img.icons8.com/color/48/000000/new-post.png" /> Send Mail
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" data-whatever="@@mdo" id="generatePDF"><img src="https://img.icons8.com/office/16/000000/pdf-2.png" />PDF</a>
        <button class="dropdown-item" data-toggle="modal" data-target="#exampleModal" data-whatever="@@mdo" id="generateEXCEL" onclick="exportTableToExcel('mainBody')"><img src="https://img.icons8.com/officexs/16/000000/ms-excel.png" /> EXCEL </button>
    </div>
</div>
<!--Dropdown buttons end-->
<!--Data-grid table start-->
<div class="text-center" id="mainBody">
    <table id="example" class="table table-striped table-bordered" style="width:100%; background-color:white; text-align:left;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jony Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011-04-25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Ilyas Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011-07-25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Kamran Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009-01-12</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Elmeddin Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009-01-12</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Ibo Marshall</td>
                <td>Regional Director</td>
                <td>San Francisco</td>
                <td>36</td>
                <td>2008-10-16</td>
                <td>$470,600</td>
            </tr>

        </tbody>

    </table>

</div>
<!--Data-grid table end-->
<!--Modal start-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Email</h5>
            </div>
            <div class="modal-body">
                <form asp-controller="Home" asp-action="SendMail" method="POST">
                    <div class="col-md-12 mb-3">
                        <label for="validationTooltipUsername">Lutfen gondermek istediginiz email'i yaziniz</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="validationTooltipUsernamePrepend">@@</span>
                            </div>
                            <input type="email" class="form-control" name="Mail" id="validationTooltipUsername" placeholder="Default@mail.com" aria-describedby="validationTooltipUsernamePrepend" required>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input hidden type="text" id="idGridHtmlPDF" name="GridHtmlPDF" />
                    </div>
                    <div class="form-group">
                        <input  hidden type="text" id="idexcel" name="GridHtml" />
                    </div>
                    <div class="form-group">
                        <img id="pdflIcon" src="https://img.icons8.com/color/48/000000/pdf-2--v1.png" style="display: none;" />
                        <img id="excelIcon" src="https://img.icons8.com/color/48/000000/ms-excel.png" style="display: none;" />
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-secondary" id="close" data-dismiss="modal" value="Close" />
                        <input type="submit" class="btn btn-primary" value="Send Mail" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!--Modal End-->
<script src="~/js/jquery/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">

    var pdf = document.getElementById("pdflIcon");
    var excel = document.getElementById("excelIcon");
    var idpdf = document.getElementById("idGridHtmlPDF");
    var idecxl = document.getElementById("idexcel");

    //====Grid send Excel at style. START
    $(function () {
        $("#generateEXCEL").click(function () {
            $("input[name='GridHtml']").val($("#mainBody").html());

            if (excel.style.display == 'none') {
                excel.style.display = 'block';
            } else {
                excel.style.display = 'none';
            }
        });
    });
    //==== END

    //====Grid send pdf at style. START
    $(function () {
        $("#generatePDF").click(function () {
            $("input[name='GridHtmlPDF']").val($("#mainBody").html());

            if (pdf.style.display == 'none') {
                pdf.style.display = 'block';
            } else {
                pdf.style.display = 'none';
            }
        });
    });
    //==== END
    //$(function () {
    //    $(document).on("click","#close",function () {

    //        if (pdf.style.display == 'block' ||  excel.style.display == 'block' ) {
    //            excel.style.display = 'none';
    //            pdf.style.display = 'none';
    //        } else {
    //            excel.style.display = 'none';
    //            pdf.style.display = 'none';
    //        }
    //    });
    //});

    $(document).on("click", "#exampleModal", function () {
        if ($(this).hasClass("show")) {
            if (excel.style.display == "block") {
                pdf.style.display = 'none';
            }
            if (pdf.style.display == 'block') {
                excel.style.display = 'none';
            }
        }
        else {
            excel.style.display = 'none';
            pdf.style.display = 'none';
            $(idpdf).val(""); 
            $(idecxl).val("");
        }

    })
    //$(document).on("click", "#exampleModal", function () {
    //    if ($(this).hasClass("show")) {
    //        pdf.style.display = 'block';
    //        if (pdf.style.display == 'block') {
    //            excel.style.display = 'none';
    //        }
    //    } else {
    //        pdf.style.display = 'none';
    //    }

    //})
</script>

